h4,p  i {
    color: #3c6e71;
}

.button-color {
    background-color: #3c6e71;
    color: white;
    font-size: large;
}

.card {
    background-color: #f5f5f5;
}

.detail-card {
    -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.61);
}

.description-text{
    height: 150px;
}
