{% extends 'general/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detalle_reunion.css' %}">

<div class="container mt-5">

    <h1>Detalles de la reunión</h1>
    <hr />

    <div class="card detail-card mt-5">
        <div class="row">

            <div class="col-md-4">
                <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=1peFSFYP_FAmw_yy9Mo_zq807KPM&hl=en" style="height: 500px;"  class="card-img" alt="...">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-calendar-minus"></i> Comer</h4>
                    <hr />
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> <strong>Ubicación:</strong> Cafetería de ciencias</p>
                    <p class="card-text"><i class="fas fa-clock"></i> <strong>Fecha/Hora:</strong> 15 de septiembre del 2020, 15:00 hrs.</p>
                    <p class="card-text"><i class="fas fa-users"></i> <strong>Personas:</strong> 4 de 4 lugares ocupados</p>
                    <hr />
                    <!-- <p class="card-text"><i class="fas fa-genderless"></i> <strong>Género:</strong> Indistinto</p> -->
                    <p class="card-text"><i class="fas fa-lightbulb"></i> <strong>Rompehielos:</strong></p>
                    <p class="card-text description-text"><i class="fas fa-music"></i> Música Rock</p></p>

                    <div class="row">
                        <div class="col-md-9">
                            <a href="#" class="btn btn-link align-items-end"><i class="fas fa-chevron-left"></i> Regresar</a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary btn-block align-items-end"><i class="fas fa-sign-in-alt"></i> Iniciar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}